.app {
   display: flex;
   width: 100%;
   max-width: 1280px;
   flex: 1 1 auto;

   .app__container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      max-width: 1500px;
      padding: 15px 15px;
      margin: 0 auto;
      color: #525252;
      font-size: 20px;
      font-weight: normal;
      box-sizing: content-box;

      .tagsList__container {
         display: flex;
         flex-direction: column;
         height: 100%;
         width: 27%;
         padding: 0px 15px 15px 0px;
         @media screen and (max-width: 767px) {
            padding: 0px 0px 15px 0px;
            width: 100%;
            height: auto;
         }

         .tagsList__container_Btn {
            width: 100%;
            text-align: center;
            font-weight: 500;
            font-size: 25px;
            cursor: pointer;
            margin-bottom: 5px;
            padding: 0px 5px 0px 5px;
            background-color: #f3f3f3;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
            @media screen and (max-width: 540px) {
               font-size: 20px;
         }
         }
         .tagsList__container_list {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 5px;
            height: 100%;
            background-image: url("../../assets/images/tag.png");
            background-size: cover;
            background-position: center;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
            @media screen and (max-width: 767px) {
                  flex-direction: row;
                  flex-wrap: wrap;
            }
         }
      }
      .notes {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         width: 100%;

         .manipulationBlock {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 50px;
            margin-right: 0px;
            padding-bottom: 20px;

            .manipulationBlock__createForm {
               display: flex;
               min-width: 280px;
            }
            .manipulationBlock__filter {
               display: flex;
               max-width: 180px;
               margin-bottom: 20px;
            }
         }
         .notesListContainer {
            display: flex;
            flex-wrap: wrap;
         }
      }
   }
}

@media screen and (max-width: 767px) {
   .manipulationBlock {
      flex-direction: column-reverse;
      align-items: center;
   }
   .manipulationBlock__filter {
      align-self: flex-end;
   }
   .app__container {
      flex-direction: column;
   }
   .tagsList__container {
      width: 100%;
   }
   .tagsList__container_list {
      flex-direction: row;
   }
}
